<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="footer-menu menu-item-01">
					<img src="/images/logo.png" alt="logo" class="footer-logo">
				</div>
			</div>
			<div class="col-md-3">
				<br>
				<br>
				<div class="footer-menu menu-item-02">
					<p>Entropia.Arquitectura es un estudio fundado por Natalia Videla y Rosina Romanazzi, arquitectas egresadas de la Facultad de Arquitectura y Urbanismo de la UNLP.</p>
					<div class="social-links">
						<ul>
							<li><a href="https://www.instagram.com/entropia.arquitectura?igsh=MWF5eXN2ZW5hejV0dQ=="><i class="icon icon-instagram"></i></a></li>
							<li><a href="https://wa.me/+5492212007443"><i class="icon icon-whatsapp"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-3 footer-mobile-only">
				<div class="footer-menu menu-item-03">
					<h5>Links Útiles</h5>
					<ul class="menu-list">
						<li class="menu-item"><a href="/">Inicio</a></li>
						<li class="menu-item"><a href="/#about">Nosotras</a></li>
						<li class="menu-item"><a href="/#services">Servicios</a></li>
						<li class="menu-item"><a href="/#projects">Proyectos</a></li>
						<li class="menu-item"><a href="/#competitions">Concursos</a></li>
						<li class="menu-item"><a href="/#contact">Contacto</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-3">
				<div class="footer-menu menu-item-04">
					<h5>Información de contacto</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<i class="icon icon-location"></i>
								<a>La Plata / Daireaux</a>
						</li>
						<li class="menu-item">
							<i class="icon icon-phone"></i>
							<a href="https://wa.me/+5492212007443">+54 9 221 2007443</a>
						</li>
						<li class="menu-item">
						<i class="icon icon-envelope-o"></i>
							<a href="mailto:entropianra@gmail.com" class="mail-id">entropianra@gmail.com</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<div id="footer-bottom">
	<div class="container">
		<div class="copyright text-center">
			<p>© Entropia Arquitectura 2025. All rights reserved.</p>
		</div>
	</div>
</div>