<header id="header">
    <div class="sidebar-logo">
        <a href="/">
        <img src="/images/logo.png" alt="Entropía Arquitectura">
        </a>
    </div>
	<div id="header-wrap">
        <nav class="main-menu">
            <ul class="menu-list">
                <li><a href="/" class="nav-link">Inicio</a></li>
                <li><a href="/#about" class="nav-link">Nosotras</a></li>
                <li><a href="/#services" class="nav-link">Servicios</a></li>
                <li><a href="/#projects" class="nav-link">Proyectos</a></li>
                <li><a href="/#competitions" class="nav-link">Concursos</a></li>
                <li><a href="/#contact" class="nav-link">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
