<header id="header">
    <div class="sidebar-logo">
        <a href="index.html">
        <img src="images/logo.png" alt="Entropía Arquitectura">
        </a>
    </div>
	<div id="header-wrap">
        <nav class="main-menu">
            <ul class="menu-list">
                <li><a href="/" class="nav-link">Inicio</a></li>
                <li><a href="index.html#about" class="nav-link">Nosotras</a></li>
                <li><a href="index.html#services" class="nav-link">Servicios</a></li>
                <li><a href="index.html#projects" class="nav-link">Proyectos</a></li>
                <li><a href="index.html#competitions" class="nav-link">Concursos</a></li>
                <li><a href="index.html#contact" class="nav-link">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>